<!--  navigation from https://v4-alpha.getbootstrap.com/components/navbar/ -->
<nav class="navbar navbar-toggleable-md navbar-inverse  bg-primary">

    <a class="navbar-brand" routerLink="" routerLinkActive="active">Pegel Online Angular</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <!-- The routerLink are static, no binding! -->
            <a class="nav-item nav-link" routerLink="waters" routerLinkActive="active">Gewässer</a>
            <a class="nav-item nav-link" routerLink="stations" routerLinkActive="active">Messstellen</a>
        </div>
    </div>
</nav>

<div class="container">
<poa-messages></poa-messages>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>