
<h3>Stations</h3>

<table class="table  table-striped  table-hover  table-sm">
    <thead class="thead-default">
        <tr>
            <th>#</th>
            <th>Short Name</th>
            <th>Long Name</th>
            <th>km</th>
        </tr>
    </thead>
    <tbody>
        <tr class="" *ngFor="let station of stations; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{station.shortname}}</td>
            <td>{{station.longname}}</td>
            <td>{{station.km}}</td>
        </tr>
    </tbody>
</table>