<h3>Pegel</h3>


<div class="row pb-2">
    <div class="col-1">
        <!--  the faSearch is a dynamic property (not in the component) -->
        <span class="btn btn-primary" href="#navigation-main" aria-label="Open Search" (click)="faSearch = !faSearch">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
    </div>
    <div class="col-11 collapse" [class.show]="faSearch" id="collapseExample">
        <form [formGroup]="searchForm" class="form-inline">

            <label class="col-form-label mr-sm-4">Zeitraum</label>

            <label class="col-form-label mr-sm-2" for="days">Tage</label>
            <!--  [(ngModel)] two way binding. Do not forget the name attribute! -->
            <input type="text" class="form-control mr-sm-4 col-1" id="days" formControlName="days">

            <label class="col-form-label mr-sm-2" for="hours">Stunden</label>
            <input type="number" class="form-control  col-1" id="hours" formControlName="hours" maxlength="2">

            <button type="button" class="btn btn-primary ml-sm-2" [class.disabled]="!searchForm.valid" (click)="onSubmit()">Laden</button>
        </form>
      
        <div *ngIf="formErrors.days" class="alert alert-danger">{{ formErrors.days }}</div>

    </div>
</div>

<div class="row">
    <div class="col">

        <table class="table  table-striped table-hover table-sm">
            <thead class="thead-default">
                <tr>
                    <th>Datum</th>
                    <th>Pegel (cm)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let level of waterLevels">
                    <!-- https://angular.io/docs/ts/latest/api/common/index/DatePipe-pipe.html -->
                    <td>{{level.timestamp | date:'medium'}}</td>
                    <td>{{level.value}}
                </tr>
            </tbody>

        </table>
    </div>
</div>
